:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey-color: #2e2f42;
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
  /**
      |============================
      | Others
      |============================
    */
  --indent: 24px;
  --items: 3;
  --transforn-form: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Reset start
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-set-item {
  width: calc(100% - var(--indent) * var(--items) - 1) / var(--items);
}
/**
  |============================
  | Header
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  display: block;
}

.main-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue-color);
  margin: rig;
}

.nav-main {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
}

.nav-link {
  color: var(--navy-blue-modal);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  background-color: var(--ocean-color);
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.link-adress {
  color: var(--slate-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Roboto", sans-serif;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item {
  font-style: normal;
}

/**
  |============================
  | Section main HERO
  |============================
*/
.section-hero {
  background-color: var(--navy-blue-color);
  padding: 188px 0 188px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/officeworking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.section-hero-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
}

/**
  |============================
  | Section main 
  |============================
*/
.section {
  background-color: #fff;
  padding: 120px 0 120px;
}
.main-services {
  display: flex;
  gap: 24px;
}
.services {
  width: calc((100% - 3 * 24px) / 4);
}
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
.section-title {
  color: var(--navy-blue-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-text {
  color: var(--slate-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.main-icon {
  max-width: 264px;
  background-size: 64px 64px;
  background-color: var(--cornflower-color);
  width: 264px;
  height: 112px;
  border-radius: 4px;
}

/**
  |============================
  | Section main work
  |============================
*/
.section-work {
  background-color: #fff;
  padding-bottom: 120px;
}

.section-work-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

/**
  |============================
  | Section main team
  |============================
*/
.section-team {
  background-color: var(--cloud-color);
  padding: 120px 0px 120px;
}
.section-team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.card-team {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}
.section-team-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.icon-team {
  fill: var(--cloud-color);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  border-radius: 50%;
  box-shadow: 1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}
/**
  |============================
  | Section Customers
  |============================
*/
.section-customers {
  padding: 120px 0 120px;
}
.section-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}
.customers {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.customers-team {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  color: var(--light-slate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: var(--light-slate-color);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-color);
  color: var(--ocean-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: currentColor;
}
/**
  |============================
  | Footer
  |============================
*/
.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0 100px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  text-align: start;
}
.footer-wrapper {
  margin-right: 120px;
}

.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  max-width: 264px;
  max-height: 72px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.social-media {
  display: flex;
  gap: 16px;
}
.social-media-icon {
  fill: var(--cloud-color);
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--green-color);
}
.media-footer-wrapper {
  margin-left: 80px;
}
.form-footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.form-footer {
  display: flex;
  gap: 24px;
}
.form-footer-label {
  display: inline-block;
}
.form-footer-input {
  width: 264px;
  height: 40px;
  padding: 16px;

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.form-footer-input::placeholder {
  font-size: 12px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.btn-form-footer {
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  background-color: var(--iris-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.btn-form-footer:focus,
.btn-form-footer:hover {
  background-color: var(--green-color);
}
.form-footer-icon {
  margin-left: 16px;
}

/**
  |============================
  | Section Portfolio
  |============================
*/
.section-portfolio {
  background-color: #fff;
  padding: 96px 0 120px 0;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.card-set-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.potrfolio-list {
  row-gap: 48px;
}
.tumb-portfolio {
  position: relative;
  overflow: hidden;
}
.overlay-poftfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  padding: 40px 32px 164px;
}
.link-portfolio:hover .overlay-poftfolio-text,
.link-portfolio:focus .overlay-poftfolio-text {
  transform: translateY(0);
}
.overlay-poftfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);

  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  padding: 40px 32px;
}
.link-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.potrfolio-list-resume {
  margin-bottom: 0px;
}
.potrfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  text-align: left;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-title {
  color: var(--navy-blue-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-portfolio-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Modal
  |============================
*/

.backdrop.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%) translateY(-50%);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;

  fill: var(--navy-blue-color);
  background-color: var(--cornflower-color);
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--white-color);
  background-color: var(--ocean-color);
  border: none;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  display: block;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
  color: var(--navy-blue-color);
}
.modal-form-wrapper {
  margin-bottom: 8px;
}
.modal-label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  margin-bottom: 4px;
}
.modal-icon-wrapper {
  position: relative;
}
.modal-form-tag {
  display: block;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}
.modal-input:focus {
  border-color: var(--iris-color);
}
.modal-input:focus + .modal-form-icon {
  fill: var(--iris-color);
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transforn-form);
}
.modal-area-wrapper {
  margin-bottom: 16px;
}
.modal-area-text {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  background-color: transparent;
  transition: border-color var(--transforn-form);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-area-text:focus {
  border-color: var(--iris-color);
}
.modal-area-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-checkbox {
  position: relative;
  font-size: 12px;
  margin-bottom: 24px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}
.modal-form-agreement {
  cursor: pointer;
}
.fake-modal-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:checked > .fake-modal-checkbox {
  border: none;
  fill: var(--cloud-color);
}
.icon-checkbox {
  opacity: 0;
}

input:checked + .modal-form-agreement > .fake-modal-checkbox {
  background-color: var(--ocean-color);
}

input:checked + .modal-form-agreement > .fake-modal-checkbox > .icon-checkbox {
  opacity: 1;
}

.modal-link {
  color: var(--iris-color);
}

/**
  |============================
  | Buttons and Navigation
  |============================
*/
.button-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--iris-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--ocean-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--ocean-color);
}

.link-adress:focus,
.link-adress:hover {
  color: var(--ocean-color);
}

.button-portfolio {
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
/**
  |============================
  | Optional
  |============================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
